# Portland Crime

<h2> Import packages and load and clean data <h2>

In [6]:
import pandas as pd
import os
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
path = os.path.join("Resources", "CrimeData-2017.csv")

In [4]:
df = pd.read_csv(path)

In [3]:
import sys

In [4]:
df.head()

,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,NaN,17-X4744955,Person,Lents,2017-01-01,135,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2017-01-01,1
1,NaN,17-X4744962,Person,Lents,2017-01-01,147,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2017-01-01,1
2,NaN,17-X4744966,Person,Brentwood-Darlington,2017-01-01,218,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2017-01-01,1
3,NaN,17-X4744985,Person,St Johns,2017-01-01,55,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2017-01-01,1
4,NaN,17-X4744990,Person,Centennial,2017-01-01,220,Assault Offenses,Aggravated Assault,NaN,NaN,NaN,NaN,2017-01-01,1

In [5]:
df.shape

(59673, 14)

In [6]:
df.count()

Address            54397
CaseNumber         59673
CrimeAgainst       59673
Neighborhood       57834
OccurDate          59673
OccurTime          59673
OffenseCategory    59673
OffenseType        59673
OpenDataLat        53455
OpenDataLon        53455
OpenDataX          53455
OpenDataY          53455
ReportDate         59673
OffenseCount       59673
dtype: int64

In [7]:
df.columns

Index(['Address', 'CaseNumber', 'CrimeAgainst', 'Neighborhood', 'OccurDate',
       'OccurTime', 'OffenseCategory', 'OffenseType', 'OpenDataLat',
       'OpenDataLon', 'OpenDataX', 'OpenDataY', 'ReportDate', 'OffenseCount'],
      dtype='object')

In [8]:
df["OffenseCategory"]. replace({"Sex Offenses": "sex_offenses"})
df["OffenseCategory"].replace({"Assault Offenses": "assult_offenses"})

0                 assult_offenses
1                 assult_offenses
2                 assult_offenses
3                 assult_offenses
4                 assult_offenses
                   ...
59668                   Vandalism
59669             assult_offenses
59670    Stolen Property Offenses
59671            Larceny Offenses
59672            Larceny Offenses
Name: OffenseCategory, Length: 59673, dtype: object

In [9]:
#rename works on the columns name 
df = pd.read_csv(path).rename(columns = {"Address" : "address", "CaseNumber": "case_number" })

In [10]:
df.columns

Index(['address', 'case_number', 'CrimeAgainst', 'Neighborhood', 'OccurDate',
       'OccurTime', 'OffenseCategory', 'OffenseType', 'OpenDataLat',
       'OpenDataLon', 'OpenDataX', 'OpenDataY', 'ReportDate', 'OffenseCount'],
      dtype='object')

In [11]:
df = pd.read_csv(path). rename(columns=lambda s : s.lower().replace(" ", "_"))

In [12]:
df.columns

Index(['address', 'casenumber', 'crimeagainst', 'neighborhood', 'occurdate',
       'occurtime', 'offensecategory', 'offensetype', 'opendatalat',
       'opendatalon', 'opendatax', 'opendatay', 'reportdate', 'offensecount'],
      dtype='object')

In [13]:
df = pd.read_csv(path)\
    .rename(columns = lambda s: s.lower().replace(" ", "_"))\
    [[
    'neighborhood', 
    'occurdate',
    'occurtime',
    'offensecategory',
    'offensecount', 
    'offensetype',
    'reportdate' 
    ]]\
    .dropna()\
    .assign(reportdate=pd.to_datetime(df['reportdate'], format="%Y-%m-%d"))

In [14]:
df.shape

(57834, 7)

In [15]:
df.dropna().shape

(57834, 7)

In [16]:
df.count()

neighborhood       57834
occurdate          57834
occurtime          57834
offensecategory    57834
offensecount       57834
offensetype        57834
reportdate         57834
dtype: int64

In [17]:
df.columns

Index(['neighborhood', 'occurdate', 'occurtime', 'offensecategory',
       'offensecount', 'offensetype', 'reportdate'],
      dtype='object')

In [18]:
df["neighborhood"].value_counts()

Downtown               3926
Hazelwood              3763
Lents                  2182
Powellhurst-Gilbert    2171
Old Town/Chinatown     2028
                       ...
Markham                  31
Woodland Park            23
Crestwood                19
Marshall Park             9
Healy Heights             5
Name: neighborhood, Length: 96, dtype: int64

In [19]:
#the count of offense for each type of category 
df["offensecategory"].value_counts()

Larceny Offenses                24347
Assault Offenses                 7274
Motor Vehicle Theft              7213
Vandalism                        6177
Burglary                         4347
Fraud Offenses                   3090
Drug/Narcotic Offenses           1674
Robbery                          1035
Counterfeiting/Forgery            720
Sex Offenses                      576
Weapon Law Violations             448
Arson                             306
Prostitution Offenses             211
Embezzlement                      127
Stolen Property Offenses           85
Kidnapping/Abduction               73
Homicide Offenses                  23
Extortion/Blackmail                22
Animal Cruelty Offenses            22
Sex Offenses, Nonforcible          22
Pornography/Obscene Material       21
Human Trafficking Offenses         21
Name: offensecategory, dtype: int64

In [20]:
#count of offense in each type 
df["offensetype"].value_counts()

Theft From Motor Vehicle                       10185
All Other Larceny                               7332
Motor Vehicle Theft                             7213
Vandalism                                       6177
Burglary                                        4347
Simple Assault                                  3453
Shoplifting                                     3304
Intimidation                                    2187
Drug/Narcotic Violations                        1663
Theft of Motor Vehicle Parts or Accessories     1643
Aggravated Assault                              1634
Theft From Building                             1558
False Pretenses/Swindle/Confidence Game         1279
Robbery                                         1035
Identity Theft                                   887
Credit Card/ATM Fraud                            855
Counterfeiting/Forgery                           720
Weapons Law Violations                           448
Arson                                            306
Rape                                             291
Fondling                                         198
Prostitution                                     190
Pocket-Picking                                   153
Purse-Snatching                                  139
Embezzlement                                     127
Stolen Property Offenses                          85
Sodomy                                            73
Kidnapping/Abduction                              73
Hacking/Computer Invasion                         46
Theft From Coin-Operated Machine or Device        33
Murder and Non-negligent Manslaughter             22
Extortion/Blackmail                               22
Animal Cruelty                                    22
Statutory Rape                                    21
Pornography/Obscene Material                      21
Commercial Sex Acts                               20
Purchasing Prostitution                           14
Sexual Assault With An Object                     14
Impersonation                                     13
Drug Equipment Violations                         11
Assisting or Promoting Prostitution                7
Wire Fraud                                         5
Welfare Fraud                                      5
Negligent Manslaughter                             1
Incest                                             1
Involuntary Servitude                              1
Name: offensetype, dtype: int64

In [21]:
 df["offensetype"].count()

57834

In [22]:
#count how many different type of offense is there on the dataset,it wont be this one but will be the one after 
df["offensetype"].value_counts().count()

46

In [23]:
#how many neighberhood is there on the data set 
df["neighborhood"].value_counts().count()

96

In [24]:
df["offensecount"].value_counts()

1     57185
2       567
3        59
4        13
5         4
7         3
16        1
8         1
6         1
Name: offensecount, dtype: int64

In [25]:
#all of the row in the dataset when number of offense(offensecount) is more than two 
df["offensecount"] >= 2
#the result is infact a series which tell which value is true and which one is false(less than two)

0        False
1        False
2        False
3        False
4        False
         ...
59667    False
59668    False
59669    False
59670    False
59671    False
Name: offensecount, Length: 57834, dtype: bool

In [26]:
(df["offensecount"] >= 2).value_counts() 
#it says 57185 are less than two offenses and 649 rows have offenses equal or more than 2, to back to our first question, how to see rows with
#two or more than two offensecount

False    57185
True       649
Name: offensecount, dtype: int64

In [27]:
df[df["offensecount"] >= 2]

,neighborhood,occurdate,occurtime,offensecategory,offensecount,offensetype,reportdate
10,Powellhurst-Gilbert,2017-01-02,1323,Assault Offenses,3,Simple Assault,2017-01-02
15,Portsmouth,2017-01-01,120,Assault Offenses,8,Aggravated Assault,2017-01-01
53,Centennial,2017-01-06,1200,Assault Offenses,2,Simple Assault,2017-01-06
65,Mill Park,2017-01-01,2100,Assault Offenses,2,Intimidation,2017-01-06
68,Wilkes,2017-01-06,2243,Assault Offenses,2,Simple Assault,2017-01-06
...,...,...,...,...,...,...,...
58447,Hillsdale,2017-06-30,1030,Assault Offenses,2,Simple Assault,2017-06-30
58531,Downtown,2017-10-12,1710,Assault Offenses,2,Simple Assault,2017-10-12
58573,Downtown,2017-01-07,1446,Assault Offenses,2,Simple Assault,2017-01-07
58636,Downtown,2017-09-11,2103,Assault Offenses,3,Simple Assault,2017-09-11
58752,Southwest Hills,2017-08-08,1630,Motor Vehicle Theft,2,Motor Vehicle Theft,2017-08-09

In [28]:
df.shape

(57834, 7)

In [29]:
df[df["offensecount"] >= 2]["offensecount"]

10       3
15       8
53       2
65       2
68       2
        ..
58447    2
58531    2
58573    2
58636    3
58752    2
Name: offensecount, Length: 649, dtype: int64

In [30]:
#the more effiecient way to get index of rows with crime equal or more than two 
#and also to get number of crime in each of this indexes will be by use of loc 
df.loc[df["offensecount"] >= 2, "offensecount"]

10       3
15       8
53       2
65       2
68       2
        ..
58447    2
58531    2
58573    2
58636    3
58752    2
Name: offensecount, Length: 649, dtype: int64

In [31]:
#what if we want the offense category of each instance with two or more than two offense 
df.loc[df["offensecount"] >= 2, ["offensecategory"]]

           offensecategory
10        Assault Offenses
15        Assault Offenses
53        Assault Offenses
65        Assault Offenses
68        Assault Offenses
...                    ...
58447     Assault Offenses
58531     Assault Offenses
58573     Assault Offenses
58636     Assault Offenses
58752  Motor Vehicle Theft

[649 rows x 1 columns]

In [32]:
#if we want to know which offense categories has the offense count of two or more than two 

df.loc[df["offensecount"] >= 2, "offensecategory"].unique()

array(['Assault Offenses', 'Kidnapping/Abduction', 'Sex Offenses',
       'Homicide Offenses', 'Motor Vehicle Theft'], dtype=object)

In [33]:
#how to get offence category and occure date for indexes with two or more than two in offense count columns 
df.loc[df["offensecount"] >= 2, ['offensecount','occurdate', 'offensecategory']]
#by pouting  the part after , on a seprate [] we put it as a list and the result will be a dataframe

       offensecount   occurdate      offensecategory
10                3  2017-01-02     Assault Offenses
15                8  2017-01-01     Assault Offenses
53                2  2017-01-06     Assault Offenses
65                2  2017-01-01     Assault Offenses
68                2  2017-01-06     Assault Offenses
...             ...         ...                  ...
58447             2  2017-06-30     Assault Offenses
58531             2  2017-10-12     Assault Offenses
58573             2  2017-01-07     Assault Offenses
58636             3  2017-09-11     Assault Offenses
58752             2  2017-08-08  Motor Vehicle Theft

[649 rows x 3 columns]

In [34]:
df.dtypes

neighborhood               object
occurdate                  object
occurtime                   int64
offensecategory            object
offensecount                int64
offensetype                object
reportdate         datetime64[ns]
dtype: object

In [35]:
df["neighborhood"].head
#object datatype is a subsuite of string so this is fine

<bound method NDFrame.head of 0                       Lents
1                       Lents
2        Brentwood-Darlington
3                    St Johns
4                  Centennial
                 ...
59667            Goose Hollow
59668        Sylvan-Highlands
59669       Arlington Heights
59670        Sylvan-Highlands
59671                 Linnton
Name: neighborhood, Length: 57834, dtype: object>

In [36]:
df["occurdate"].head(10)
#we know this is date so this not good that the data type is object

0    2017-01-01
1    2017-01-01
2    2017-01-01
3    2017-01-01
4    2017-01-01
5    2017-01-01
6    2017-01-01
7    2017-01-01
8    2017-01-01
9    2017-01-01
Name: occurdate, dtype: object

In [37]:
df["reportdate"].dtype

dtype('<M8[ns]')

In [38]:
#we will use a function which is part of the pandas, this is not a method, we will use pandas.to_datetime
pd.to_datetime(df["reportdate"]).dtype

dtype('<M8[ns]')

In [39]:
pd.to_datetime(df["reportdate"])

0       2017-01-01
1       2017-01-01
2       2017-01-01
3       2017-01-01
4       2017-01-01
           ...
59667   2017-03-22
59668   2017-04-21
59669   2017-09-04
59670   2017-05-09
59671   2017-03-08
Name: reportdate, Length: 57834, dtype: datetime64[ns]

In [40]:
df['occurdate'].tail(10)

59659    2017-10-07
59660    2017-08-06
59664    2017-03-22
59665    2017-03-22
59666    2017-03-22
59667    2017-03-22
59668    2017-04-21
59669    2017-09-04
59670    2017-05-09
59671    2017-03-08
Name: occurdate, dtype: object

In [41]:
pd.to_datetime(df["occurdate"],format = "%Y-%m-%d")

0       2017-01-01
1       2017-01-01
2       2017-01-01
3       2017-01-01
4       2017-01-01
           ...
59667   2017-03-22
59668   2017-04-21
59669   2017-09-04
59670   2017-05-09
59671   2017-03-08
Name: occurdate, Length: 57834, dtype: datetime64[ns]

In [42]:
df['reportdate'].tail(10)

59659   2017-10-07
59660   2017-08-06
59664   2017-03-22
59665   2017-03-22
59666   2017-03-22
59667   2017-03-22
59668   2017-04-21
59669   2017-09-04
59670   2017-05-09
59671   2017-03-08
Name: reportdate, dtype: datetime64[ns]

In [43]:
df.dtypes

neighborhood               object
occurdate                  object
occurtime                   int64
offensecategory            object
offensecount                int64
offensetype                object
reportdate         datetime64[ns]
dtype: object

In [44]:
df['occurtime'].tail(10)

59659    1814
59660    1655
59664    1348
59665    1348
59666    1348
59667    1330
59668     130
59669     932
59670     458
59671     800
Name: occurtime, dtype: int64

In [45]:
df[["occurtime", "occurdate"]].head(10)

   occurtime   occurdate
0        135  2017-01-01
1        147  2017-01-01
2        218  2017-01-01
3         55  2017-01-01
4        220  2017-01-01
5        448  2017-01-01
6        123  2017-01-01
7        400  2017-01-01
8       2036  2017-01-01
9       1817  2017-01-01

In [46]:
#to concatenate these two columns 
df["occurdate"]+ ":" +df['occurtime'].astype("str")

0         2017-01-01:135
1         2017-01-01:147
2         2017-01-01:218
3          2017-01-01:55
4         2017-01-01:220
              ...
59667    2017-03-22:1330
59668     2017-04-21:130
59669     2017-09-04:932
59670     2017-05-09:458
59671     2017-03-08:800
Length: 57834, dtype: object

In [47]:
def clean_time(s):
    return s [:-2] + ":" + s[-2:]

In [48]:
clean_time("1330")

'13:30'

In [49]:
df["occurtime"].astype("str").apply(lambda s:s [:-2] + ":" + s[-2:])

0         1:35
1         1:47
2         2:18
3          :55
4         2:20
         ...
59667    13:30
59668     1:30
59669     9:32
59670     4:58
59671     8:00
Name: occurtime, Length: 57834, dtype: object

In [50]:
#handling the concatenation part 

s = df['occurdate'] + ":" + df["occurtime"]. astype("str").apply(lambda s: s[:-2] + ":" + s[-2:])

In [51]:
pd.to_datetime(s, format = "%Y-%m-%d:%H:%M", errors="coerce")

0       2017-01-01 01:35:00
1       2017-01-01 01:47:00
2       2017-01-01 02:18:00
3                       NaT
4       2017-01-01 02:20:00
                ...
59667   2017-03-22 13:30:00
59668   2017-04-21 01:30:00
59669   2017-09-04 09:32:00
59670   2017-05-09 04:58:00
59671   2017-03-08 08:00:00
Length: 57834, dtype: datetime64[ns]

In [5]:
df = pd.read_csv(path)\
    .rename(columns = lambda s: s.lower().replace(" ", "_"))\
    [[
    'neighborhood', 
    'occurdate',
    'occurtime',
    'offensecategory',
    'offensecount', 
    'offensetype',
    'reportdate' 
    ]]\
    .dropna()\
    .assign(reportdate=lambda df: pd.to_datetime(df['reportdate'], format="%Y-%m-%d"))
occurdatetime =pd.to_datetime(
    df['occurdate'] + ":" + df["occurtime"]. astype("str").apply(lambda s: s[:-2] + ":" + s[-2:]),
    format = "%Y-%m-%d:%H:%M", 
    errors="coerce"
)

df = df.assign(occurdatetime = occurdatetime)\
   .drop("occurdate", axis=1)\
   .drop("occurtime", axis=1)\
   .dropna()

In [53]:
df.dtypes

neighborhood               object
offensecategory            object
offensecount                int64
offensetype                object
reportdate         datetime64[ns]
occurdatetime      datetime64[ns]
dtype: object

<h2> Analysis <h2>

In [59]:
df.head

<bound method NDFrame.head of                neighborhood           offensecategory  offensecount  \
0                     Lents          Assault Offenses             1
1                     Lents          Assault Offenses             1
2      Brentwood-Darlington          Assault Offenses             1
4                Centennial          Assault Offenses             1
5                 Multnomah          Assault Offenses             1
...                     ...                       ...           ...
59667          Goose Hollow                 Vandalism             1
59668      Sylvan-Highlands                 Vandalism             1
59669     Arlington Heights          Assault Offenses             1
59670      Sylvan-Highlands  Stolen Property Offenses             1
59671               Linnton          Larceny Offenses             1

                    offensetype reportdate       occurdatetime
0                Simple Assault 2017-01-01 2017-01-01 01:35:00
1                Simple Assault 2017-01-01 2017-01-01 01:47:00
2                Simple Assault 2017-01-01 2017-01-01 02:18:00
4            Aggravated Assault 2017-01-01 2017-01-01 02:20:00
5                Simple Assault 2017-01-01 2017-01-01 04:48:00
...                         ...        ...                 ...
59667                 Vandalism 2017-03-22 2017-03-22 13:30:00
59668                 Vandalism 2017-04-21 2017-04-21 01:30:00
59669        Aggravated Assault 2017-09-04 2017-09-04 09:32:00
59670  Stolen Property Offenses 2017-05-09 2017-05-09 04:58:00
59671  Theft From Motor Vehicle 2017-03-08 2017-03-08 08:00:00

[54145 rows x 6 columns]>

## Most Crime Neighborhood (by incident)

In [62]:
Neighborhood_crime_count = df["neighborhood"].value_counts()

In [63]:
Neighborhood_crime_count.head(10)

Downtown               3724
Hazelwood              3568
Lents                  2072
Powellhurst-Gilbert    2006
Old Town/Chinatown     1913
Centennial             1769
Northwest              1660
Pearl                  1552
Montavilla             1513
Lloyd                  1356
Name: neighborhood, dtype: int64

In [65]:
Neighborhood_crime_count.tail(10).sort_values(ascending = True)

Healy Heights         5
Marshall Park         8
Crestwood            16
Woodland Park        22
Markham              28
Arnold Creek         28
Northwest Heights    36
South Burlingame     38
Ardenwald            40
Hillside             42
Name: neighborhood, dtype: int64

## Most Crime Neighborhood (offensecount)

In [78]:
df.groupby("neighborhood")["offensecount"].sum()

neighborhood
Alameda               138
Arbor Lodge           510
Ardenwald              40
Argay                 659
Arlington Heights      59
                     ...
West Portland Park    146
Wilkes                579
Woodland Park          23
Woodlawn              232
Woodstock             544
Name: offensecount, Length: 96, dtype: int64

In [79]:
#lets do it on specific type of offense, to see these two(by incident and grouping by are different)
df["offensetype"].unique()

array(['Simple Assault', 'Aggravated Assault', 'Rape', 'Intimidation',
       'Robbery', 'Vandalism', 'Burglary', 'All Other Larceny',
       'Theft From Building', 'Sexual Assault With An Object',
       'Drug/Narcotic Violations', 'Theft From Motor Vehicle',
       'Weapons Law Violations', 'Sodomy', 'Credit Card/ATM Fraud',
       'Fondling', 'False Pretenses/Swindle/Confidence Game',
       'Kidnapping/Abduction', 'Pocket-Picking', 'Motor Vehicle Theft',
       'Identity Theft', 'Statutory Rape', 'Counterfeiting/Forgery',
       'Embezzlement', 'Theft of Motor Vehicle Parts or Accessories',
       'Commercial Sex Acts', 'Extortion/Blackmail', 'Purse-Snatching',
       'Murder and Non-negligent Manslaughter', 'Animal Cruelty',
       'Shoplifting', 'Involuntary Servitude', 'Arson',
       'Assisting or Promoting Prostitution', 'Prostitution',
       'Stolen Property Offenses', 'Impersonation',
       'Pornography/Obscene Material', 'Hacking/Computer Invasion',
       'Incest', 'Welfare Fraud',
       'Theft From Coin-Operated Machine or Device',
       'Purchasing Prostitution', 'Drug Equipment Violations',
       'Wire Fraud', 'Negligent Manslaughter'], dtype=object)

In [85]:
vehicletheft_df = df[df["offensetype"] == 'Theft of Motor Vehicle Parts or Accessories']

In [86]:
vehicletheft_df["neighborhood"].value_counts()

Hazelwood              111
Lents                   74
Montavilla              68
Powellhurst-Gilbert     51
Centennial              47
                      ...
Vernon                   1
Northwest Heights        1
Ardenwald                1
Maplewood                1
Crestwood                1
Name: neighborhood, Length: 86, dtype: int64

In [89]:
vehicletheft_df.groupby("neighborhood")["offensecount"].sum().sort_values(ascending = False)

neighborhood
Hazelwood              111
Lents                   74
Montavilla              68
Powellhurst-Gilbert     51
Centennial              47
                      ...
Crestwood                1
Bridlemile               1
Maplewood                1
Vernon                   1
Ardenwald                1
Name: offensecount, Length: 86, dtype: int64

In [6]:
KidnappingAbductiond_df = df[df["offensetype"] == 'Kidnapping/Abduction']

In [7]:
KidnappingAbductiond_df.columns

Index(['neighborhood', 'offensecategory', 'offensecount', 'offensetype',
       'reportdate', 'occurdatetime'],
      dtype='object')

In [8]:
KidnappingAbductiond_df.size

426

In [14]:
#grouping the data by neighborhood and then adding up some numerical values 
KidnappingAbductiond_df.groupby('neighborhood')['offensecount'].sum().sort_values(ascending =False)

neighborhood
Old Town/Chinatown      6
Powellhurst-Gilbert     6
Downtown                5
Buckman West            5
Lents                   4
Parkrose                3
Madison South           3
Montavilla              3
Arbor Lodge             3
Pearl                   2
Piedmont                2
Cully                   2
Brentwood-Darlington    2
Mt Scott-Arleta         2
Hazelwood               2
Argay                   2
Overlook                2
Kerns                   1
Concordia               1
Glenfair                1
Boise                   1
Hayden Island           1
Hillsdale               1
Woodstock               1
Lloyd                   1
Maplewood               1
Woodland Park           1
Multnomah               1
Northwest               1
Northwest Industrial    1
Reed                    1
Roseway                 1
South Tabor             1
Sylvan-Highlands        1
Wilkes                  1
Mill Park               1
Name: offensecount, dtype: int64

In [12]:
#just counting the number of rows for each neighborhood, 
#this and 11 are very similar in this data set but in principle they are totally different 
KidnappingAbductiond_df["neighborhood"].value_counts()

Powellhurst-Gilbert     6
Old Town/Chinatown      6
Downtown                5
Lents                   4
Buckman West            4
Montavilla              3
Parkrose                3
Arbor Lodge             3
Madison South           3
Argay                   2
Overlook                2
Hazelwood               2
Piedmont                2
Pearl                   2
Cully                   2
Brentwood-Darlington    2
Reed                    1
Boise                   1
Mt Scott-Arleta         1
Northwest Industrial    1
Hillsdale               1
Multnomah               1
Mill Park               1
Hayden Island           1
Northwest               1
South Tabor             1
Kerns                   1
Concordia               1
Glenfair                1
Sylvan-Highlands        1
Roseway                 1
Lloyd                   1
Woodland Park           1
Woodstock               1
Maplewood               1
Wilkes                  1
Name: neighborhood, dtype: int64

 <H1> Most crime hour (by offensecount) <H1>

In [15]:
#We don't have a column for this, so we need to create a column by grouping attributes toghether 
df.groupby(pd.Grouper(key = "occurdatetime", freq ="1h"))
#so that return a groupby object, we always have to do aggregation to see anything intersting out of it

In [21]:
df.groupby(pd.Grouper(key = "occurdatetime", freq = "1h")).count()["offensecount"].sort_values(ascending = False)

occurdatetime
2017-06-17 19:00:00    42
2017-09-01 12:00:00    25
2017-02-14 12:00:00    24
2017-10-29 22:00:00    22
2017-05-25 20:00:00    22
                       ..
2004-07-24 15:00:00     0
2004-07-24 16:00:00     0
2004-07-24 17:00:00     0
2004-07-24 18:00:00     0
1998-11-08 15:00:00     0
Name: offensecount, Length: 335680, dtype: int64

In [20]:
df.groupby(pd.Grouper(key = "occurdatetime", freq = "1h"))["offensecount"].sum().sort_values(ascending = False)

occurdatetime
2017-06-17 19:00:00    43
2017-09-01 12:00:00    25
2017-01-01 01:00:00    25
2017-02-14 12:00:00    24
2017-02-24 22:00:00    23
                       ..
2004-07-24 15:00:00     0
2004-07-24 16:00:00     0
2004-07-24 17:00:00     0
2004-07-24 18:00:00     0
1998-11-08 15:00:00     0
Name: offensecount, Length: 335680, dtype: int64

In [23]:
#most likely above does not make a lot of practical sense, it is better to look for most dangerous time of the day 

df.groupby(df["occurdatetime"].dt.hour)["offensecount"].sum().sort_values(ascending =False)

#please note we missed the data between 0 to 1 and also between 23 to 24

occurdatetime
22    3450
12    3436
18    3351
17    3328
20    3192
21    3109
19    3070
23    2924
16    2862
15    2742
14    2468
13    2411
8     2297
11    2203
10    2145
9     2103
1     1930
2     1633
7     1584
3     1307
6     1175
4     1142
5     1017
Name: offensecount, dtype: int64

In [ ]:
df.groupby(df["occurdatetime"].dt.hour)["offensecount"].sum().plot()